# CoreDNS Corefile

{{ getenv "TAILNET_HOSTNAME" | default "proxy-traefik" }}.{{ getenv "DOMAIN_TSNET" }}:53 {
    log
    errors
    reload

    template IN A {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN A {{ getenv `TAILNET_IPV4_HINT` }}"
    }
    template IN AAAA {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN AAAA ::1"
    }

    template IN HTTPS {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN HTTPS 1 . alpn=h2,h3 port=443 ipv4hint={{ getenv `TAILNET_IPV4_HINT` }}"
    }
    template IN SVCB {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN SVCB 1 . alpn=h2,h3 port=443 ipv4hint={{ getenv `TAILNET_IPV4_HINT` }}"
    }

}

{{ getenv "DOMAIN_DUCKDNS" }}:53 {
    log
    errors
    reload

    template IN A {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN A {{ getenv `TAILNET_IPV4_HINT` }}"
    }
    template IN AAAA {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN AAAA ::1"
    }

    template IN HTTPS {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN HTTPS 1 . alpn=h2,h3 port=443 ipv4hint={{ getenv `TAILNET_IPV4_HINT` }}"
    }
    template IN SVCB {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN SVCB 1 . alpn=h2,h3 port=443 ipv4hint={{ getenv `TAILNET_IPV4_HINT` }}"
    }

    forward . 1.1.1.1 1.0.0.1
    cache 30
}

{{ getenv "DOMAIN_LOCAL" }}:53 {
    log
    errors
    reload

    template IN A {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN A {{ getenv `TAILNET_IPV4_HINT` }}"
    }
    template IN AAAA {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN AAAA ::1"
    }

    template IN HTTPS {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN HTTPS 1 . alpn=h2,h3 port=443 ipv4hint={{ getenv `TAILNET_IPV4_HINT` }}"
    }
    template IN SVCB {
        match ".*"
        answer "{{ `{{ .Name }}` }} 60 IN SVCB 1 . alpn=h2,h3 port=443 ipv4hint={{ getenv `TAILNET_IPV4_HINT` }}"
    }
}
