api:
  dashboard: true
  disableDashboardAd: true


entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ':443'
    http:
      tls:
        certResolver: leresolverDuckdns
        domains:
          - main: '*.{{ getenv "DOMAIN_DUCKDNS" }}'
          - main: '{{ getenv "DOMAIN_DUCKDNS" }}'
    allowACMEByPass: true
    asDefault: true

  docker-tcp:
    address: ':2375/tcp'

  mongodb-tcp:
    address: ':27017/tcp'


providers:
  docker:
    endpoint: '{{ getenv "REMOTE_DOCKER_HOST" }}'
    exposedByDefault: false
    watch: true

  file:
    filename: '/traefik-dynamic.yml'
    watch: true


certificatesResolvers:
  leresolverDuckdns:
    acme:
      email: {{ getenv "ACME_EMAIL" }}
      storage: /letsencrypt/acme.json
      caServer: {{ if eq (getenv "ACME_CA_SERVER") "staging" }}https://acme-staging-v02.api.letsencrypt.org/directory{{ else }}https://acme-v02.api.letsencrypt.org/directory{{ end }}
      dnsChallenge:
        provider: duckdns
        disablePropagationCheck: true
        resolvers:
          - '1.1.1.1:53'
          - '8.8.8.8:53'

  tailsolver:
    tailscale: {}

accessLog:
  filePath: '/logs/access.log'
  fields:
    headers:
      names:
        User-Agent: keep

log:
  level: '{{ getenv "TRAEFIK_LOG_LEVEL" | default "INFO" }}'
